################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HackerSpace/.vs/HackerSpace/FileContentIndex/8afb7625-7daa-439a-ac5e-22ec9ad76caa.vsidx
